<html>
  <head>
    <title>Express Validation Test</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>
  <body>
    <%-body%>
  </body>
</html>
